
// Configuration for running the pipeline on cbe

process {
    executor = 'slurm'
    queue = { task.memory <= 170.GB ? 'c' : 'm' }
    clusterOptions = { task.time <= 8.h ? '--qos short': task.time <= 48.h ? '--qos medium' : '--qos long' }

    withName: md5sum {
        cpus = 1
    }

    withName: quality_filter {
        cpus = 4
    }
    
    withName: clip {
        cpus = 4
    }
    
    withName: filter {
        cpus = 8
    }
    
    withName: transcriptome_alignment {
        cpus = 8
    }
    
    withName: quality_filter {
        cpus = 8 
    }
    
    withName: genome_alignment {
        cpus = 8
    }    

    withName: create_ribo {
        cpus = 8 
    }
    
    withName: post_genome_alignment {
        cpus = 8 
    }

}

singularity {
  enabled = true
  cacheDir = '/resources/containers'
}